androguard==3.3.5
beautifulsoup4==4.11.1
frida==16.0.1
ImageHash==4.3.1
imgsim==0.1.2
loguru==0.6.0
lxml==4.6.3
numpy==1.21.3
opencv_python==4.5.4.58
scipy==1.7.1
sentence_transformers==2.2.2
torch==1.7.1
uiautomator2==2.16.8
cliffs_delta==1.0.0
Faker==15.3.1
gensim==4.2.0
jieba==0.42.1
nltk==3.7
pexpect==4.8.0
pytesseract==0.3.8
simplejson==3.17.6
rich==13.3.5
Levenshtein==0.21.0
wordninja==2.0.0
similarities==1.0.5
